SECRET_KEY=change-me
DJANGO_SETTINGS_MODULE=pulsenotify.settings.local
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=pulsenotify
DB_USER=pulsenotify
DB_PASSWORD=pulsenotify
DB_HOST=localhost
DB_PORT=5432

CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0
